# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14' 
    - name: Install this package
      run: |
        pip install .
    - name: Run and import
      run: |
        python3 -c "from ramp_core.serializable import Serializable"

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14' 
    - name: Install this package
      run: |
        pip install .[test]
    - name: Test in test directory
      run: |
        cd tests
        pytest -v

